/plugin/ghostexplorer2/gui_debug/
/plugin/ghostexplorer2/updates2.dau
/plugin/ghostexplorer2/ssp_plugin_log.txt
/gui/packages/
*.suo
*.csproj.user
/gui/GhostExplorer2GUI/obj/
*.pdb
*.vshost.exe*
/plugin/ghostexplorer2/gui/Magick.NET-Q8-AnyCPU.xml
/plugin/ghostexplorer2/gui/
/gui/ExplorerLib/bin/
/gui/ExplorerLib/obj/
/gui/ShellExplorer2GUI/bin/
/gui/ShellExplorer2GUI/obj/
/plugin/shellexplorer2/gui/
/plugin/shellexplorer2/gui_debug/
/plugin/shellexplorer2/updates2.dau
/plugin/ghostexplorer2/module/
/plugin_src/ghostexplorer2/bin/
/plugin_src/ghostexplorer2/obj/
/plugin_src/lib_debug/
/plugin_src/shellexplorer2/obj/
/plugin/ghostexplorer2/module_debug/
/plugin/shellexplorer2/module_debug/
/plugin_src/shellexplorer2/bin/
/plugin/shellexplorer2/module/
/gui/NiseSeriko/bin/
/gui/NiseSeriko/obj/
/gui/.vs/Explorer2GUI/DesignTimeBuild/
/gui/NiseSeriko/Net45/bin/
/gui/NiseSeriko/Net45/obj/
/gui/NiseSeriko/Net45/packages/
.vs
/gui/NiseSeriko/NetCore/bin/
/gui/NiseSeriko/NetCore/obj/
/gui/NiseSeriko/SerikoCamera/bin/
/gui/NiseSeriko/SerikoCamera/obj/
*.pubxml.user
/gui/NiseSeriko/SerikoCamera/trimtest/bin/
/gui/NiseSeriko/SerikoCamera/trimtest/obj/
/gui/NiseSeriko/SerikoCamera/Properties/launchSettings.json
